*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:500&display=swap');

// .........................................

$btn-shadow: rgb(231, 217, 255);
$shadow: 0px 10px 20px $btn-shadow;
$color-st:#3E41AE;
$color-nd:#CB4599;
$color-rd:rgb(133, 62, 174);

// .........................................


body{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

nav{
    background:white;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.nav-container{
    max-width: 1240px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color:black;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    background: white;

    #logo a{
        text-transform: lowercase;
        font-size: 1.6em;
        font-family: 'Maven Pro', sans-serif;
        font-weight: medium;
        color:black;
        letter-spacing: -0.05em;
        text-decoration: none;   
    }

    #logo:first-letter{
        color: $color-st;
    }

    .list{
        display:flex;
        align-items: center;
        
        a {
            text-decoration: none;
            color:black;
            margin-right:1.5em;
            padding:12px 4px;
            position: relative;
            
            &:first-of-type{
                margin-right: 0.8em;
            }

            &:hover{
                animation: colors 0.8s ease-in-out forwards;
                &::after{
                    animation: lines 0.8s ease-out forwards;
                }
            }

            &.underline::after{
                content:'';
                height:1px;
                width: 0px;
                display:block;
                position: absolute;
                left:50%;  
            }

            svg{
                margin: 0 5px;
                width:22px;
                height:auto; 
                vertical-align: bottom;   //  !!!!!!!!!!!!!!!!!!!!!
            }
        }
    }
}

@keyframes colors{
    25% {
        fill:$color-st;
        color:$color-st;
    }
    100%{
        fill:$color-rd;
        color:$color-rd;
    }
}

@keyframes lines{
    25% {
        background:$color-st;
        width:40%;
        left:30%;
    }
    100%{
        background:$color-rd;
        width:75%;
        left:12.5%;
    }
}

.container{
    max-width: 1240px;
    width:100%;
    height:100%;
    margin:auto;
    background:white;
    overflow:visible;
}

.btn{
    display: inline-block;
    padding: 1em 0;
    width: 180px;
    background: white;
    color: black;
    text-decoration: none;  
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    font-size:1em;
    font-weight: bold;
    text-align: center;
    box-shadow: $shadow;
    text-transform: uppercase;
    transition: all 0.1s ease-in;

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 13px 30px -1px rgb(221, 199, 255);
    }
}


.btn-prm{
    background: linear-gradient(118.68deg, $color-st 0.94%, $color-nd 94.42%);
    box-shadow: 0px 10px 20px rgb(199, 164, 255);
    color:white;

    &:hover{
        box-shadow: 0px 13px 30px -1px rgb(193, 154, 255);
    }
}

.btn-inner{
    box-shadow: inset 0px 10px 20px $btn-shadow;
    width:180px;
    padding: 1em 2em;
    font-size: 0.9em;
    margin-right: 2em;
    margin-bottom: 0;
    
    &:hover{
        box-shadow: inset 0px 7px 20px -2px $btn-shadow;
        transform:translateY(3px);
    }
}

.btn-icon{
    padding:10px;
    width:auto;
    margin-right: 0;

    svg{
        width:2em;
        vertical-align: bottom;
    }
}

#landing{
    height:100vh;
    width:100%;

    .container{
        display:flex;
        align-items: center;
        justify-content: space-between;
        overflow-y: hidden;
        overflow:visible;
        
        #landing-text{
            width:40%;
            padding-left:1rem;
            overflow:visible;
            
            h1{
                font-size: 3em;
                text-transform: uppercase;
                overflow-y: hidden;
                margin-bottom: 0.5em;  
            }

            p{
                display: inline-block;
                width:100%;
                font-size: 1.2em;
                font-weight: 400;
                color: rgb(134, 134, 134);
                line-height: 1.8em;
                margin-bottom: 5em;
            }
        }

        #landing-svg{
            margin-top: 5em;
            width:60%;
            
            svg{
                width:100%;
                height:auto;
            }
        }
    }
}

.title{
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 0.5em 0;

    &::after{
        content:'';
        display:block;
        height:1px;
        width:5%;
        background:$color-st;
        position:absolute;
        left:47.5%;
    }
}


#about{
    .card-container {
        width:100%;
        display:flex;
        column-gap:5em;
        justify-content: space-between;
        padding:3em 1em;
        overflow:visible;
        
        .card {
            width:300px;
            background: #FFFFFF;
            box-shadow: $shadow;
            border-radius: 46px;
            padding:3em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;   
            transition: all 0.1s ease-in; 

            .svg-container{
                margin-bottom:3em;
                padding-top:2em;
            }
            
            h2{
                margin-bottom:1em;
                font-size: 2em;
            }

            p{
                text-align: center;
                color: rgb(134, 134, 134);
                font-weight: 400;
                font-size: 1.2em;
            }

            &:hover{
                transform: translateY(-4px);
                box-shadow: 0 14px 40px -1px rgb(226, 207, 255);
            }
        }
    }
}

#work{
    .work-card-container{
        padding: 3em 1em;

        .work-card{
            display:flex;
            // margin-bottom: 30vh;
            border-radius: 46px;
            height: 300px;
            box-shadow: $shadow;

            h2{
                font-size: 2em;
                margin-bottom: 0.2em;
            }

            p{
                color: rgb(134, 134, 134);
                font-weight: 500;
                font-size: 1.2em;
                width: 90%;
            }          
            
            &:nth-of-type(odd){
                .work-card-left{
                    width:35%;
                    background:white;
                    padding: 2em 3em;
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .work-card-right{
                    width: 65%;
                    background:yellow;
                }
            }

            &:nth-of-type(even){
                .work-card-left{
                    width:65%;
                    background:blue;
                }

                .work-card-right{
                    width:35%;
                    background:white;
                    padding: 2em 3em;
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
        }
    }
    
}