@import url('https://fonts.googleapis.com/css?family=Nunito:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:500&display=swap');



// VARIABLES

$btn-shadow: 0px 11px 36px rgba(0, 0, 0, 0.2);
$btn-shadow-hover: 0px 14px 36px rgba(0, 0, 0, 0.2);
$card-shadow: 0px 40px 140px rgba(130, 130, 130, 0.15);
$card-shadow-light: 0px 40px 140px rgba(130, 130, 130, 0.05);
$color-st:#3E41AE;
$color-nd:#CB4599;
$color-rd:#942ABC;



// GLOBAL STYLES

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x: hidden;
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    background:$color-st;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

section{
    padding: 2em 3em;
    position: relative;

    .title{
        font-size: 2em;
        text-transform: uppercase;
        text-align: center;
    
        &::after{
            content:'';
            display:block;
            height:2px;
            width:5%;
            background:$color-st;
            position:absolute;
            left:47.5%;
        }
    }
}

.container{
    max-width: 1240px;
    width:100%;
    height:100%;
    margin:auto;
    overflow:visible;
}

.btn{
    display: inline-block;
    padding: 1.2em 0;
    width: 45%;
    max-width: 180px;
    background: white;
    color: black;
    text-decoration: none;  
    border-radius: 30px;
    font-size:0.7em;
    font-weight: bold;
    text-align: center;
    box-shadow: $btn-shadow;
    text-transform: uppercase;
    transition: all 0.1s ease-in;

    &:hover{
        transform: translateY(-3px);
        box-shadow: $btn-shadow-hover;
    }

    &:active{
        transform: translateY(0px);
        box-shadow: $btn-shadow;
    }
}

.btn-color{
    margin-top: 4em;
    background: linear-gradient(270deg, $color-st -6.43%, $color-rd 109.52%);
    color:white;
}

.btn-icon{
    padding:1em;
    width:auto;
    margin-left: 2em;
    fill:white;
    background: #3E41AE;

    svg{
        width:1.8em;
        vertical-align: bottom;
    }
}



// NAV STYLES

nav{
    position: absolute;
    width: 100%;
    z-index: 3;
    padding: 0 3em;
}

.nav-container{
    max-width: 1240px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 600;

    #logo a{
        text-transform: lowercase;
        font-size: 1.6em;
        font-family: 'Maven Pro', sans-serif;
        font-weight: medium;
        color:white;
        letter-spacing: -0.05em;
        text-decoration: none;   
    }

    #logo:first-letter{
        color: rgba(255,255,255,0.7);
    }

    .list{
        display:flex;
        align-items: center;
        
        a {
            text-decoration: none;
            color:white;
            margin-left:1.5em;
            padding:12px 4px;
            position: relative;
            font-weight: 500;

            &:hover{
                &::after{
                    animation: lines 0.8s ease-out forwards;
                }
            }

            &.underline::after{
                content:'';
                height:1px;
                width: 0px;
                display:block;
                position: absolute;
                left:50%;  
            }
        }
    }
}


@keyframes lines{
    25% {
        background:white;
        width:40%;
        left:30%;
    }
    100%{
        background:white;
        width:75%;
        left:12.5%;
    }
}



// LANDING STYLES

#landing{
    height:100vh;
    width:100%;
    overflow: hidden;
    background: linear-gradient(130.04deg, $color-rd -8.2%, $color-st 89.8%);

    .container{
        display:flex;
        align-items: center;
        justify-content: space-between;  
       
        #landing-text{
            width:35%;
            overflow:visible;
            
            h1{
                font-size: 2.3em;
                text-transform: uppercase;
                overflow-y: hidden;
                line-height: 1.2em;
                color:white;
            }

            h2{
                color: rgba(255,255,255,1);
                font-size: 1em;
            }

            .btn-container{
                overflow: visible;
                width: 90%;
                display:flex;
                justify-content: space-between;
            }

            .landing-links{
                margin-top: 2em;
                display:flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 3em;
                line-height: 1.5em;

                .link{
                    padding-right: 0.8em;

                    a{
                        text-decoration: none;

                        span{
                            font-size: 1em;
                            color: rgba(255,255,255,0.5);
                            transition: 0.1s color ease-in;
                        }

                        svg{
                            width: 30px;
                            height: 30px;
                            fill: rgba(255,255,255,0.5);
                            margin-right: 0.3em;
                            vertical-align: bottom;
                            transition: 0.1s fill ease-in; 
                        }
                    }   

                    a:hover{
                        span{
                            color:white;
                        }

                        svg{
                            fill:white;
                        }
                    }
                }
            }
        }
    }

    #landing-svg {
        position: absolute;
        bottom:0;
        width: 100%;  
        height: 80%;
        background: url(/assets/hero-bg.svg) no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: -3em;
        z-index: 0;
    }
}



// ABOUT STYLES

#about{
    background: linear-gradient(#fff,#F8F9FA 60%);
    padding: 2em 4em 4em;

    .card-container {
        display:flex;
        justify-content: space-around;
        padding:3em 0;
        overflow:visible;
        
        .card {
            max-width: 300px;
            width: 30%;
            background: #FFFFFF;
            border-radius: 46px;
            padding:0 1em 2em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;   
            transition: all 0.1s ease-in; 
            box-shadow: $card-shadow-light;

            .svg-container{
                padding: 2em 0;

                svg{
                    width: auto;
                    height: 4.5em;
                }
            }
            
            h2{
                margin-bottom:0.6em;
                font-size: 1.4em;
                text-align: center;
            }

            p{
                text-align: center;
                color: rgb(134, 134, 134);
                font-weight: 400;
                font-size: 1em;
            }

            &:hover{
                transform: translateY(-4px);
            }
        }
    }

    #about-s{
        position: absolute;
        top:-3em;
    }
}



// WORK STYLES

#work{
    border-radius: 0 0 20px 20px;
    background: #F8F9FA;
    padding: 2em 4em 0;

    .work-card-container{
        overflow: visible;
        padding: 3em 0em;

        .work-card{
            display:flex;
            border-radius: 46px;
            box-shadow: $card-shadow; 
            margin-bottom: 8em;

            h2{
                font-size: 1.5em;
                margin-bottom: 0.4em;
            }

            p{
                color: rgb(134, 134, 134);
                font-weight: 400;
                font-size: 1em;
            }          
            
            .gradient{
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg,$color-st, $color-rd);
                opacity: 0.3;
                transition: opacity 0.2s ease-in-out;
            }

            &:nth-of-type(odd){
                .work-card-left{
                    width:40%;
                    min-width: 370px;
                    background:white;
                    padding: 2em 2.5em;
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .btn-container{
                        overflow: visible;
                    }
                }

                .work-card-right{
                    width: 60%;
                    background:url(/assets/ocean-school.jpg);
                    background-size: cover;
                    background-position: center;
                }
            }

            &:nth-of-type(even){
                .work-card-left{
                    width:60%;
                    background:url(/assets/ocean-school.jpg);
                    background-size: cover;
                    background-position: center;
                }

                .work-card-right{
                    width:40%;
                    min-width: 370px;
                    background:white;
                    padding: 2em 2.5em;
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .btn-container{
                        overflow: visible;
                    }
                }
            }
        }
    }

    #work-s{
        position: absolute;
        top:-3em;
    }
}



// CONTACT STYLES
#contact{
    background: linear-gradient(180deg, #3E41AE 0, rgb(192, 69, 203) 191.82%);
    padding: 2em 0 3em;

    .container{
    padding: 0 0 4em;

        .title{
            color:white;

            &::after{
                background: white;
            }
        }

        form{
            display:flex;
            flex-direction: column;
            align-items: center;
            overflow: visible;
            padding: 4em 0 2em;

            & *{
                margin-bottom: 2em;
            }

            input{
                background: white;
                border-radius: 46px;
                border:none;
                padding: 1em 1em;
                font-size: 0.8em;
                font-family: inherit;
                width:400px;
                outline: none;
            }

            textarea{
                background: white;
                border-radius: 27px;
                border:none;
                padding: 1em 1em;
                font-size: 0.8em;
                width:400px;
                font-family: inherit;
                outline: none;
            }

            .btn{
                box-shadow: $btn-shadow;
                margin: 1em 0 0 0;
                max-width: unset;
                cursor: pointer;
            }
        }
    }
   
    #contact-s{
        position: absolute;
        top:-3em;
    }
}



// FOOTER STYLES

#footer{
    background: #F8F9FA;
    
    .container{
        display:flex;
        padding-top: 2em;
        justify-content: space-evenly;
        
        .text-container{
            width: 20%;
            overflow: visible;

            h3{
                font-size: 0.8em;
                color: rgb(134, 134, 134);
                text-transform: uppercase;
                margin-bottom: 0.5em;
                font-weight: 600;
            }

            p{
                font-size: 0.8em;
                color: rgb(134, 134, 134);
                font-weight: 400;
                padding-bottom: 2em;
                overflow: visible;
            }

            .svg-container{
                display: flex;
                margin-top: -1em;

                svg{
                    width:1.2em;
                    fill: rgb(134, 134, 134);
                    margin-right: 0.5em;
                    transition: fill 0.15s ease-in;

                    &:hover{
                        fill:black;
                    }
                }
            }
        }
    }

    .copyright{
        text-align: center;
        font-size: 0.7em;
        color: rgb(180, 180, 180);
        padding: 0 0 1.2em;
    }
}



// RESPONSIVENESS

@media screen and (max-width: 1110px){
    body{
        font-size: 18px;
    }

    #about{
        .container{
            .card-container{
                justify-content: space-between;
            }
        }
    }
    
    #footer{
        padding: 0 4em;

        .container{
            justify-content: space-between; 

            .text-container{
                width: auto;
                min-width:30%;
                padding-right: 2em;
            }
        }
    }
}

@media screen and (max-width: 990px){
   #landing{

        .container{

            #landing-text{
                width: 40%;
            }
            #landing-svg{
                padding-left: 1em;
            }
        }
   }
}

@media screen and (max-width: 800px){

    #landing{

        .container{
            flex-direction: column;

            #landing-text{
                padding-top: 10vh;
                width:100%;
                z-index: 1;

                .btn-container{
                    justify-content: start;

                    .btn:first-child{
                        margin-right: 2em;
                    }
                }

                .landing-links{
                    justify-content: flex-start;
                }          
            }
        }

            #landing-svg{
                height: 60%;
                background: url(/assets/hero-bg-center.svg) no-repeat;
                background-size: cover;
                background-position: center;
            }
    }

    #about{

        .card-container{
            display: block;
            padding:0;
            
            .card{
                width:auto;
                margin: 3em auto 0;
            }
        }
    }

    #work{

        .work-card-container{

            .work-card{
                // min-height: 60vh;
                // height:auto;
                width: 100%;
                flex-direction: column;

                .btn-inner{
                    width: auto;
                }

                p{
                    width: 100%;
                    margin-bottom: 2em;
                }

                &:nth-of-type(odd){
                    flex-direction: column-reverse;

                    .work-card-left{
                        width: 100%;
                        padding: 2em 2em;
                        min-width: unset;
                    }

                    .work-card-right{
                        width: 100%;
                        height: 30vh;

                        &::after{
                            float:left;
                        }
                    }                 
                } 

                &:nth-of-type(even){
                    .work-card-left{
                        width: 100%;
                        height: 30vh;
                    }

                    .work-card-right{
                        width: 100%;
                        padding: 2em 2em;
                        min-width: unset;
                    }                 
                }
            }
        }
    }
}

@media screen and (max-width: 650px){
    body{
        font-size: 16px;
    }

    nav{
        padding: 0 1em;
        
        .nav-container{

            .list{
                display:none;
            }
        }
    }

    #about{
        padding: 2em 2em 4em;
    }

    #work{
        padding: 2em 2em 0em;
    }
   
    #contact{

        .container{
            padding: 0 2em 4em;

            form{

                input{
                    width: 95%;
                }

                textarea{
                    width: 95%;
                }
            }
        }
    }

    #footer{

        .container{

            .text-container{
                &:first-child{
                    display:none;
                }
            }
        }
    }
}

@media screen and (max-width:420px){

    #landing{
        padding: 2em 2em;

        .container{

        #landing-text{

            .landing-links{
                margin-top: 1em;
            }
        }
    }


        #landing-svg{
            height: 45%;
            margin-left: -2em;
        }   
    }

    .btn-color{
        margin-top: 1em;
    }

    #footer{
        padding: 0 2em;
    }
}



// ANIMATIONS

@media screen and (min-width: 800px){
    .anim{
        opacity: 0;
    }

    .animate{
        animation: anim1 1s forwards ease-out;
    }
}

@keyframes anim1{
    from{
        transform: translateY(50px);
        opacity:0;
    }
    to{
        transform: translateY(0px);
        opacity:1;
    }
}