*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Nunito:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:500&display=swap');

// VARIABLES

$btn-shadow: rgb(239, 230, 255);
$shadow: 0px 10px 20px $btn-shadow;
$shadow-hover: 0 13px 30px -1px rgb(231, 217, 255);
$color-st:#3E41AE;
$color-nd:#CB4599;
$color-rd:rgb(133, 62, 174);

// GLOBAL STYLES

body{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    background:$color-st;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

section{
    padding: 2em 0;
    position: relative;

    .title{
        font-size: 2em;
        text-transform: uppercase;
        text-align: center;
    
        &::after{
            content:'';
            display:block;
            height:2px;
            width:5%;
            background:$color-st;
            position:absolute;
            left:47.5%;
        }
    }
}

.container{
    max-width: 1240px;
    width:100%;
    height:100%;
    margin:auto;
    overflow:visible;
}

.btn{
    display: inline-block;
    padding: 1.2em 0;
    width: 180px;
    background: white;
    color: black;
    text-decoration: none;  
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    font-size:0.7em;
    font-weight: bold;
    text-align: center;
    box-shadow: $shadow;
    text-transform: uppercase;
    transition: all 0.1s ease-in;

    &:hover{
        transform: translateY(-3px);
        box-shadow: $shadow-hover;
    }

    &:active{
        transform: translateY(0px);
        box-shadow: $shadow;
    }
}

.btn-prm{
    background: linear-gradient(118.68deg, $color-st 0.94%, $color-nd 94.42%);
    box-shadow: 0px 10px 20px rgb(199, 164, 255);
    color:white;

    &:hover{
        box-shadow: 0px 13px 30px -1px rgb(194, 157, 255);
    }

    &:active{
        transform: translateY(0px);
        box-shadow: 0px 10px 20px rgb(199, 164, 255);
    }
}

.btn-inner{
    box-shadow: inset 0px 10px 20px $btn-shadow;
    width:180px;
    padding: 1.2em 2em;
    margin-right: 2em;
    margin-bottom: 0;
    
    &:hover{
        box-shadow: inset 0px 7px 20px -2px $btn-shadow;
        transform:translateY(3px);
    }

    &:active{
        transform: translateY(5px);
    }
}

.btn-icon{
    padding:1em;
    width:auto;
    margin-right: 0;

    svg{
        width:1.8em;
        vertical-align: bottom;
    }
}

// NAV STYLES

nav{
    background:white;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.nav-container{
    max-width: 1240px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    color:black;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 600;
    background: white;

    #logo a{
        text-transform: lowercase;
        font-size: 1.6em;
        font-family: 'Maven Pro', sans-serif;
        font-weight: medium;
        color:black;
        letter-spacing: -0.05em;
        text-decoration: none;   
    }

    #logo:first-letter{
        color: $color-st;
    }

    .list{
        display:flex;
        align-items: center;
        
        a {
            text-decoration: none;
            color:black;
            margin-left:1.5em;
            padding:12px 4px;
            position: relative;

            &:hover{
                animation: colors 0.8s ease-in-out forwards;
                &::after{
                    animation: lines 0.8s ease-out forwards;
                }
            }

            &.underline::after{
                content:'';
                height:1px;
                width: 0px;
                display:block;
                position: absolute;
                left:50%;  
            }
        }
    }
}

@keyframes colors{
    25% {
        fill:$color-st;
        color:$color-st;
    }
    100%{
        fill:$color-rd;
        color:$color-rd;
    }
}

@keyframes lines{
    25% {
        background:$color-st;
        width:40%;
        left:30%;
    }
    100%{
        background:$color-rd;
        width:75%;
        left:12.5%;
    }
}

// END OF NAV STYLES


// LANDING STYLES

#landing{
    height:100vh;
    width:100%;
    background: white;

    .container{
        display:flex;
        align-items: center;
        justify-content: space-between;      
        
        #landing-text{
            width:35%;
            overflow:visible;
            padding-top: 2em;
            
            h1{
                font-size: 2.3em;
                text-transform: uppercase;
                overflow-y: hidden;
                line-height: 1.2em;
            }

            .landing-links{
                margin-top: 1em;
                display:flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.5em;
                margin-bottom: 3em;
                line-height: 1.5em;

                .link{

                    a{
                        text-decoration: none;

                        span{
                            font-size: 1em;
                            color: rgb(180, 180, 180);
                            transition: 0.1s color ease-in;
                        }

                        svg{
                            width: 30px;
                            height: 30px;
                            fill: rgb(180, 180, 180);
                            margin-right: 0.3em;
                            vertical-align: bottom;
                            transition: 0.1s fill ease-in; 
                        }
                    }   

                    a:hover{
                        span{
                            color:black;
                        }

                        svg{
                            fill:black;
                        }
                    }
                }
            }
        }

        #landing-svg{
            width: 60%;
            height: auto;
            text-align: right;
            
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}

// END OF LANDING STYLES

// ABOUT STYLES

#about{
    background: white;
    padding: 2em 0 4em;

    .card-container {
        display:flex;
        justify-content: space-around;
        padding:3em 0;
        overflow:visible;
        
        .card {
            width: 300px;
            background: #FFFFFF;
            box-shadow: $shadow;
            border-radius: 46px;
            padding:2em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;   
            transition: all 0.1s ease-in; 

            .svg-container{
                padding-bottom:4em;
                padding-top:3em;

                svg{
                    width: auto;
                    height: 4.5em;
                    fill: red;
                }
            }
            
            h2{
                margin-bottom:0.6em;
                font-size: 1.4em;
                text-align: center;
            }

            p{
                text-align: center;
                color: rgb(134, 134, 134);
                font-weight: 400;
                font-size: 1em;
                padding-bottom: 0.5em;
            }

            &:hover{
                transform: translateY(-4px);
                box-shadow: $shadow-hover;
            }
        }
    }

    #about-s{
        position: absolute;
        top:-3em;
    }
}

// WORK STYLES

#work{
    border-radius: 0 0 20px 20px;
    background: white;
    padding: 2em 0 6em;

    .work-card-container{
        overflow: visible;
        padding: 3em 1em;

        .work-card{
            display:flex;
            border-radius: 46px;
            height: 15em;
            box-shadow: $shadow; 
            
            &:not(:last-child){
                margin-bottom: 8em;
            }

            h2{
                font-size: 1.5em;
                margin-bottom: 0.4em;
            }

            p{
                color: rgb(134, 134, 134);
                font-weight: 400;
                font-size: 1em;
                width: 90%;
            }          
            
            &:nth-of-type(odd){
                .work-card-left{
                    width:35%;
                    background:white;
                    padding: 2em 2.5em;
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .work-card-right{
                    width: 65%;
                    background:grey;

                    &::after{
                        float: right;
                        content:'';
                        display: block;
                        width: 0.8em;
                        height: 0.8em;
                        padding: 0.8em;
                        background:white;
                        border-radius: 50%;
                        box-shadow: inset $shadow;
                        margin: 1.5em;
                    }
                }
            }

            &:nth-of-type(even){
                .work-card-left{
                    width:65%;
                    background:grey;

                    &::after{
                        float: left;
                        content:'';
                        display: block;
                        width: 0.8em;
                        height: 0.8em;
                        padding: 0.8em;
                        background:white;
                        border-radius: 50%;
                        box-shadow: inset $shadow;
                        margin: 1.5em;
                    }
                }

                .work-card-right{
                    width:35%;
                    background:white;
                    padding: 2em 2.5em;
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
        }
    }

    #work-s{
        position: absolute;
        top:-3em;
    }
}

// CONTACT STYLES
#contact{
    background: linear-gradient(180deg, #3E41AE 0, rgb(192, 69, 203) 191.82%);
    padding: 2em 0 3em;

    .container{
    padding: 0 0 4em;

        .title{
            color:white;

            &::after{
                background: white;
            }
        }

        form{
            display:flex;
            flex-direction: column;
            align-items: center;
            overflow: visible;
            padding: 4em 0 2em;

            & *{
                margin-bottom: 2em;
            }

            input{
                background: white;
                border-radius: 46px;
                border:none;
                padding: 1em 1em;
                font-size: 0.8em;
                font-family: inherit;
                width:400px;
                outline: none;
            }

            textarea{
                background: white;
                border-radius: 27px;
                border:none;
                padding: 1em 1em;
                font-size: 0.8em;
                width:400px;
                font-family: inherit;
                outline: none;
            }

            .btn{
                box-shadow: 0 10px 20px rgba(0,0,0,0.2);
                margin: 1em 0 0 0;
                cursor: pointer;

                &:hover{
                    box-shadow: 0 13px 30px -1px rgba(0,0,0,0.3);
                }

                &:active{
                    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
                }
            }
        }
    }
   
    #contact-s{
        position: absolute;
        top:-3em;
    }
}

// FOOTER STYLES

#footer{
    background: white;

    .container{
        display:flex;
        padding-top: 2em;
        justify-content: space-evenly;

        .text-container{
            width: 20%;

            h3{
                font-size: 0.8em;
                color: rgb(134, 134, 134);
                text-transform: uppercase;
                margin-bottom: 0.5em;
                font-weight: 600;
            }

            p{
                font-size: 0.8em;
                color: rgb(134, 134, 134);
                font-weight: 400;
                padding-bottom: 2em;
            }

            .svg-container{
                display: flex;
                margin-top: -1em;

                svg{
                    width:1.2em;
                    fill: rgb(134, 134, 134);
                    margin-right: 0.5em;
                    transition: fill 0.15s ease-in;

                    &:hover{
                        fill:black;
                    }
                }
            }
        }
    }

    .copyright{
        text-align: center;
        font-size: 0.7em;
        color: rgb(180, 180, 180);
        padding: 0 0 1.2em;
    }
}